.form-group {
  padding: 8px;
}

label {
  display: inline-block;
  width: 150px;
}

table {
  border-spacing: 0;

  td {
    width: 20px;
    height: 20px;
    border: solid 1px white;

    text-align: center;
    font-family: Arial, 'sans-serif';
    font-size: 14;

    &.normal { background-color: lightgreen; }
    &.weekend { background-color: yellow; }
    &.empty { background-color: lightgrey; }
  }
}
